body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 1470px;
    margin: 0px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 20px;
}

#title{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

.bloc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.line{ 
    width: 570px;
    border: none;
    border-top: 1px solid black;
    margin: 0 10px;
}

#title{
    margin-bottom: 0px;
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    text-align: center;
    margin-right: 90px;
    margin-bottom: 0px;
}

.navbar a {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black; 
    transition: color 0.3s;
}

.navbar a:hover {
    color: gray;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#img1 {
    width: 100%;      /* L'image prendra toute la largeur de son conteneur */
    height: auto;     /* La hauteur sera ajustée proportionnellement */
    max-width: 1280px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.text {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.line1{
    background: #6E080C;
    width: 700px;
    height: 1px;
    border: none;
    margin: 20px auto;
}

.artistesdumoment h3{
    color: #6E080C;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.artistesdumoment {
    text-align: center; 
    margin: 20px 0; 
}

.line1 {
    background: #6E080C;
    width: 90%;
    height: 1px;
    border: none; 
    margin: 20px auto;
}

#artistes {
    color: #6E080C;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#pablo, #Modigliani, #Angelika, #Soutine {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

#pablo:hover, #Modigliani:hover, #Angelika:hover, #Soutine:hover {
    font-weight: bold;
}

#pablo img, #Modigliani img, #Angelika img, #Soutine img {
    width: 270px;
    height: 270px;
    object-fit: contain;
    border-radius: 10px;
}

.artistesdumoment p{
    color: #6E080C;
}

#Actualités {
    background: #a0897426; 
    padding: 20px; 
    margin: 20px auto; 
}

#Actualités h3 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 50px;
    text-align: left;
    margin-top: 13px;
    margin-bottom: 15px;
}

#Actualités figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
}

#Actualités .images {
    position: relative;
    width: 534px;
    height: 536px;
    border: 4px solid #C39033; 
    overflow: hidden;
    margin-bottom: 0px;
}

#Actualités img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#Actualités .text1, #Actualités .text2 {
    position: absolute;
    bottom: 30px; 
    left: 30px;
    color: #ffffff; 
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#Actualités .text3 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #000000; 
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#Actualités i {
    display: block; 
    margin: 30px auto;
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    background-color: #6E080C;
    color: #ffffff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 50px; 
}

#Actualités img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#newsletter {
    margin-top: 40px;
}

#forme {
    width: 900px;
    height: 272px;
    border-radius: 70px;
    background: #6E080C;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

#forme p {
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    margin: 0; 
}

#forme2 {
    width: 292px;
    height: 65px;
    border-radius: 10px;
    background: #aa321199;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    cursor: pointer;
}

#forme2 p {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 0; 
}

/* Style pour la fenêtre modale */
#modalForm {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
}

#modalForm .modal-content {
    background-color: #e3dcd3;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto; 
}

.modal-content h2 {
    text-align: center;
    margin-top: 0px;
}

.modal-content label {
    display: block; 
    margin-top: 10px;
    margin-bottom: 3px;
}

button{
    margin-top: 10px;
}

.close-btn {
    background-color: #6E080C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.close-btn:hover {
    background-color: #aa3211;
}

#openModal:checked + #modalForm {
    display: flex;
}

#galerie h3 {
    color: #000;
    text-align: right;
    font-size: 40px;
    font-weight: 600;
    margin-right: 65px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.galerie {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

#image1 {
    width: 326px;
    height: 469px;
}

#image2 {
    width: 404px;
    height: 293px;
    margin-left: -100px;
}

#image3 {
    width: 279px;
    height: 379px;
}

#image4 {
    width: 435px;
    height: 293px;
    grid-column: 1 / 2; 
}

#image5 {
    width: 313px;
    height: 388px;
    grid-column: 2 / 3; 
    margin-top: -160px;
}

#image6 {
    width: 279px;
    height: 279px;
    grid-column: 3 / 4;
    margin-top: 10px;
}

.text {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 40px;
}

#forme3 h6 {
    border-radius: 20px;
    background: #a0897426;
    width: 360px;
    height: 55px;
    color: #6E080C;
    text-align: center;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 10px 0; 
}

#forme3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#forme3 h6:hover {
    background: #6E080C;
    color: #e3dcd3;
}

footer {
    background: #402B13;
    color: white; 
    position: relative;
    margin-top: 50px;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 10px;
    background: #C39033;
}

footer #info {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

footer #info article {
    flex: 1;
    margin: 10px;
}

footer #info img {
    width: 288px;
    height: 369px;
    margin-top: 50px;
}

footer #info #info1 h3 {
    color: #FFF;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    margin-left: 100px;
    margin-bottom: 10px;
}

footer #info #info1 p {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 0px;
}

footer #info #info2 h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

footer #info .Contact {
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-bottom: 20px;
}

footer #info .Contact i {
    margin-right: 30px;
    font-size: 30px;
}

footer #info #info2 .Contact p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

#line2 {
    margin: 20px auto;
    width: 570px;
    border: none;
    border-top: 1px solid #ffffff;
}

#suivez-nous {
    color: white;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#line3 {
    width: 870px;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ffffff;
}

#info3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0 auto;
}

#info3 i {
    font-size: 40px;
}

nav {
    font-size: 16px;
    font-weight: 400;
    margin-left: 60px;
    padding-bottom: 25px;
    margin-top: 20px;
}

nav a {
    display: inline-block; 
    margin-right: 40px; 
    text-decoration: none; 
    color: #FFF; 
}

footer nav a:hover {
        color: gray;
}

@media screen and (max-width : 768px){
   
   body{
    max-width: 768px;
   }

   #img1{
    max-width: 700px;
   }

   .text{
    font-size: 19px;
    margin-top: 20px;
    }

    #forme{
        width: 85%;
        height: 170px;
    }

    #forme p{
        font-size: 30px;
    }

    #forme2{
        width: 170px;
        height: 50px;
        margin-top: 10px;
    }

    #forme2 p{
        font-size: 25px;
    }

    .galerie {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Utilisation de fractions pour garder trois colonnes */
        gap: 10px; /* Réduction de l'espace */
        justify-content: center;
        align-items: start;
        margin: 0 auto;
    }

    #galerie h3{
        margin-top: 50px;

    }

    #image1 {
        width: 100%; /* Laisse la grille gérer la taille */
        height: auto; /* Conserve les proportions */
    }

    #image2 {
        width: 100%;
        height: auto;
        margin-left: 0px; /* Ajustement proportionnel */
        margin-top: 20px;
    }

    #image3 {
        width: 100%;
        height: auto;
    }

    #image4 {
        width: 100%;
        height: auto;
        margin-top: 58px;
    }

    #image5 {
        width: 100%;
        height: auto;     
    }

    #image6 {
        width: 100%;
        height: auto;
        margin-top: -70px; /* Ajustement proportionnel */
    }
    .line{
        width: 42%;
    }

    #line3{
        width: 80%;
    }

    #forme3 {
        gap: 20px;
    }

    #forme3 h6{
        width: 325px;
    }

    footer #info {
        display: block;
        text-align: center;
    }
    
    footer #info #info1 h3{
        text-align: center;
        margin-left: 0px;
        margin-top: 30px;
    }

    footer #info article{
        padding-top: 1px;
    }

    footer #info #info1 p {
        margin-left: 0px;
    }

    footer #info img{
        margin-top: 15px;
    }
    
    footer #info #info2 h4{
        margin-top: 30px;
    }

    #line2{
        width: 60%;
    }

    footer #info .Contact {
        flex-direction: row; 
        justify-content: center;
        margin-left: 0; 
        margin-bottom: 20px; 
    }

    footer #info .Contact i {
        margin-right: 20px; 
        font-size: 24px; 
    }

    footer #info #info2 .Contact p {
        font-size: 20px; 
        font-weight: 400;
    }
}
